@model List<AdminHomeVM>

<div class="tableContainer">
    <div id="createButtonDiv">
        <a id="createButton" href="~/Admin/Create" class="btn btn-success" role="button">Lägg till</a>
    </div>
    <table class="table table-striped">
        <thead id="tableHead">
            <tr>
                <th>Användarid</th>
                <th>Förnamn</th>
                <th>Efternamn</th>
                <th>Uppdatera</th>
                <th>Ta bort</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.UserName</td>
                    <td>@item.FirstName</td>
                    <td>@item.LastName</td>
                    <td><a id="updateLink" asp-controller="Admin" asp-action="Update" asp-route-id="@item.AspNetUserId">Uppdatera</a></td>
                    <td><button id="removeButton" class="btn btn-success" onclick="confirmRemoveTeller('@item.AspNetUserId')">Ta bort</button></td>
                </tr>
            }
        </tbody>
    </table>
</div>

<script>
    function confirmRemoveTeller(id) {
        var result = confirm("Är du säker på att du vill radera användaren?")
        if (result) {
            $.ajax({
                url: "/admin/remove/" + id,
                type: "GET",
                success: function (result) {
                    window.location.href = "/admin/home";
                }
            });
        }

    }

    //function confirmRemoveTeller(id) {
    //    if (confirm("Är du säker på att du vill radera användaren?") == true) {
    //        removeTeller(id);
    //    }
    //}

    //function removeTeller(id) {

    //    $.ajax({
    //        url: "/admin/remove/" + id,
    //        success: function (result) {
    //            window.location.href = "/admin/home";
    //        }
    //    });

    //}
</script>